
.spinner_bg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: 2px solid #ffffff; /* White color for better contrast */
    border-radius: 50%;
    width: 23px;
    height: 23px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
