@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*::-webkit-scrollbar {
    width: 0;
}

.linksLayoutContainer {
    width: 100%;
    max-width: 100dvw;
    height: 100%;
    background-color: #fafafa;
    overflow-x: hidden;
}

.linksChildren {
    height: auto;
}